<html>
<head>
  <title>Stats for <%= new_url %></title>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<table class="url_info">
  <tr>
    <td>
      Original URL
    </td>
    <td>
      <%= old_url %>
    </td>
  </tr>
  <tr>
    <td>
      "Shortened" URL
    </td>
    <td>
      <%= new_url %>
    </td>
  </tr>
  <tr>
    <td>
      <p>Visits: <%= visit_count %></p>
    </td>
    <td>
      <a href="/">"Shorten" another URL</a>
    </td>
  </tr>
</table>
</body>
</html>